<% @flights.each do |flight| %>
  <section class="flight-<%=flight.id%>">
    <p><%= "#{flight.number} - operated by: #{flight.airline_name}" %></p>
      <% flight.passengers.each do |passenger| %>
        <div id="passenger-<%=passenger.id%>">
          <p><%= passenger.name %>
          <%= button_to "Remove Passenger", flight_passenger_path(flight), method: :delete, params: { passenger_id: passenger.id } %>
          </p>
        </div>
      <% end %>
  </section>
<% end %>
